<section class="login">
  <div class="login_box">
    <div class="left">
      <div class="contact">
        <form action="">
          <img src="../assets/logo2.jpg" alt="" srcset="">
         
          <input type="number" placeholder="Phone Number">
          <input type="number" placeholder=" Amount">
          <button class="submit">DONATE</button>
        </form>
      </div>
    </div>
    <div class="right">
      <div class="right-text">
        <h2>Donation Hub Kenya</h2>
        <h5>It's not how much we give but how much love we put into giving. 
          If you haven't got any charity in your heart, you have the worst kind of heart trouble. Every good act is charity.
           A man's true wealth hereafter is the good that he does in this world to his fellows. </h5>
      </div>
      
    </div>
  </div>
</section>